.swiperCarousel {
    width: 100%;
    height: 500px;
  }

swiper-container {
    width: 100%;
    height: 100%;
  }

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }